<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302057524914-uuv69nl5t3beuc6e2ltse0n3lk9lpdm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302057524914-uuv69nl5t3beuc6e2ltse0n3lk9lpdm4</string>
	<key>API_KEY</key>
	<string>AIzaSyCd1Or2h6C_pThjSu4YshHlPQGXI-WUZdU</string>
	<key>GCM_SENDER_ID</key>
	<string>302057524914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flash</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e2ba1</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e2ba1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302057524914:ios:f8f0f5913dede5d60b03ab</string>
</dict>
</plist>